# ===== FRONTEND (Expo) =====
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts
frontend/.kotlin/
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision
frontend/.metro-health-check*
frontend/npm-debug.*
frontend/yarn-debug.*
frontend/yarn-error.*
frontend/*.tsbuildinfo
frontend/ios
frontend/android

# ===== BACKEND (Node/Express) =====
backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local
backend/logs/
backend/*.log
backend/dist/
backend/build/
backend/uploads/
backend/*.sqlite
backend/*.db
backend/*.tsbuildinfo
backend/coverage/


# ===== BACKEND (Node/Express/Prisma) =====
backend/node_modules/
backend/.env
backend/.env.local
backend/.env.*.local
backend/dist/
backend/build/
backend/*.tsbuildinfo
backend/generated/
backend/prisma/generated/
backend/logs/
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/*.sqlite
backend/*.db
backend/coverage/


# ===== COMUNES (cualquier SO/editor) =====
.DS_Store
*.pem
.vscode/
.idea/